# Onehotencoder

In [4]:
import pandas as pd
import numpy as np

In [8]:
data=pd.read_csv(r"C:\Users\mdfir\Downloads\cars.csv")

In [14]:
data.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [17]:
data["owner"].value_counts

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [19]:
data["fuel"].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

# use onehotencoder in pandas in dummies

In [25]:
new_data=pd.get_dummies(data,columns=["fuel","owner"])

# k-1 onehotencoder (remove the firt columns each)

In [30]:
new_data=pd.get_dummies(data,columns=["fuel","owner"],drop_first=True)

In [32]:
new_data

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

# useing sklearn onehotencoder

In [41]:
x=data.iloc[:,0:4]
y=data.iloc[:,-1]

In [43]:
from sklearn .model_selection import train_test_split

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=13)

In [47]:
x_train

         brand  km_driven    fuel                 owner
3612    Maruti      50000  Petrol           First Owner
2186  Mahindra      65000  Diesel          Second Owner
2943    Toyota      25000  Diesel          Second Owner
1896    Maruti      60000  Diesel          Second Owner
4846   Renault      45000  Petrol          Second Owner
...        ...        ...     ...                   ...
2790     Honda      93000  Diesel          Second Owner
7696    Maruti      80000  Petrol           First Owner
74      Maruti      70000  Diesel           First Owner
6320    Maruti      70000  Petrol          Second Owner
338     Maruti      90000  Diesel  Fourth & Above Owner

[6502 rows x 4 columns]

In [35]:
from sklearn .preprocessing import OneHotEncoder

In [57]:
en=OneHotEncoder(drop="first",sparse_output=False,dtype=np.int32)

In [59]:
new_data=en.fit_transform(x_train[["owner","fuel"]])

In [63]:
new_data.shape

(6502, 7)

In [69]:
data_new=np.hstack((x_train[["brand","km_driven"]].values,new_data))

In [71]:
data=pd.DataFrame(data_new)