In [88]:
# topic Catagerocial data ("most frequency ") replace model
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np 
from sklearn.model_selection import train_test_split
import seaborn as sns

In [17]:
data=pd.read_csv(r"C:\Users\mdfir\Downloads\train (1).csv",usecols=['GarageQual','FireplaceQu','SalePrice'])

In [19]:
data.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FireplaceQu  770 non-null    object
 1   GarageQual   1379 non-null   object
 2   SalePrice    1460 non-null   int64
dtypes: int64(1), object(2)
memory usage: 34.3+ KB

# using with sklearn

In [33]:
x=data[["FireplaceQu","GarageQual"]]
y=data["SalePrice"]

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [45]:
data.isnull().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [37]:
from sklearn .impute import SimpleImputer

In [53]:
s=SimpleImputer(strategy="most_frequent")

In [59]:
x_train_si=s.fit_transform(x_train)
x_test_si=s.transform(x_test)

# pandas method

In [103]:
data["GarageQual"]=data["GarageQual"].fillna(data["GarageQual"].mode()[0])

In [115]:
data["FireplaceQu"]=data["FireplaceQu"].fillna(data["FireplaceQu"].mode()[0])

In [119]:
data.isnull().sum()

FireplaceQu    0
GarageQual     0
SalePrice      0
dtype: int64