In [1]:
 # topic:fill the categrocial data in missing value replace the value missing

In [2]:
import pandas as pd 
import numpy as np

In [3]:
data=pd.read_csv(r"C:\Users\mdfir\Downloads\train (1).csv",usecols=['GarageQual','FireplaceQu','SalePrice'])

In [4]:
data.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [5]:
# replace the missing value of missing

In [6]:
data.isnull().sum()

FireplaceQu    690
GarageQual      81
SalePrice        0
dtype: int64

In [23]:
new_data=data["FireplaceQu"].fillna("missing")

In [40]:
new_data.isnull().sum()

0

In [25]:
new_data_1=data["GarageQual"].fillna("missing")

In [42]:
new_data_1.isnull().sum()

0

In [27]:
data.isnull().sum()

FireplaceQu    690
GarageQual      81
SalePrice        0
dtype: int64

In [29]:
data["GarageQual"].value_counts()

GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

# use sklearn model

In [44]:
x=data.iloc[:,0:2]
y=data.iloc[:,-1]

In [50]:
from sklearn.model_selection import train_test_split
import seaborn as sns 
from sklearn .impute import SimpleImputer

In [48]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [52]:
s=SimpleImputer(strategy="constant",fill_value="missing")

In [60]:
x_train_s=s.fit_transform(x_train)
x_test_s=s.transform(x_test)

In [68]:
new_data_3=pd.DataFrame(x_train_s)
new_data_3=pd.DataFrame(x_test_s)

In [72]:
new_data.shape

(1460,)

In [74]:
new_data.isnull().sum()

0