In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data=sns.load_dataset("taxis")

In [3]:
data.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [4]:
data=pd.DataFrame(data)

In [5]:
data.drop(columns=["passengers","distance","fare","tip","tolls","total","color","payment","pickup_zone","dropoff_zone","pickup_borough","dropoff_borough"],inplace=True)

In [6]:
data.head()

               pickup             dropoff
0 2019-03-23 20:21:09 2019-03-23 20:27:24
1 2019-03-04 16:11:55 2019-03-04 16:19:00
2 2019-03-27 17:53:01 2019-03-27 18:00:25
3 2019-03-10 01:23:59 2019-03-10 01:49:51
4 2019-03-30 13:27:42 2019-03-30 13:37:14

# date extract

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   pickup   6433 non-null   datetime64[ns]
 1   dropoff  6433 non-null   datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 100.6 KB

In [9]:
data["date"]=data["pickup"].dt.date

In [10]:
data["time"]=data["pickup"].dt.time

In [11]:
data.head()

               pickup             dropoff        date      time
0 2019-03-23 20:21:09 2019-03-23 20:27:24  2019-03-23  20:21:09
1 2019-03-04 16:11:55 2019-03-04 16:19:00  2019-03-04  16:11:55
2 2019-03-27 17:53:01 2019-03-27 18:00:25  2019-03-27  17:53:01
3 2019-03-10 01:23:59 2019-03-10 01:49:51  2019-03-10  01:23:59
4 2019-03-30 13:27:42 2019-03-30 13:37:14  2019-03-30  13:27:42

In [12]:
data["date"]=pd.to_datetime(data["date"])

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   pickup   6433 non-null   datetime64[ns]
 1   dropoff  6433 non-null   datetime64[ns]
 2   date     6433 non-null   datetime64[ns]
 3   time     6433 non-null   object
dtypes: datetime64[ns](3), object(1)
memory usage: 201.2+ KB

In [14]:
data["date_year"]=data["pickup"].dt.year

In [15]:
data["date_day_no"]=data["pickup"].dt.day

In [41]:
data["date_day_name"]=data["pickup"].dt.day_name()

In [43]:
data["date_month_no"]=data["pickup"].dt.month

In [45]:
data["date_month_name"]=data["pickup"].dt.month_name()

In [47]:
data.head()

,pickup,dropoff,date,time,date_year,date_day_no,date_day_name,date_month_no,date_month_name
0,2019-03-23 20:21:09,2019-03-23 20:27:24,2019-03-23,20:21:09,2019,23,Saturday,3,March
1,2019-03-04 16:11:55,2019-03-04 16:19:00,2019-03-04,16:11:55,2019,4,Monday,3,March
2,2019-03-27 17:53:01,2019-03-27 18:00:25,2019-03-27,17:53:01,2019,27,Wednesday,3,March
3,2019-03-10 01:23:59,2019-03-10 01:49:51,2019-03-10,01:23:59,2019,10,Sunday,3,March
4,2019-03-30 13:27:42,2019-03-30 13:37:14,2019-03-30,13:27:42,2019,30,Saturday,3,March