In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
data=sns.load_dataset("dowjones")

In [7]:
data.head()

        Date  Price
0 1914-12-01  55.00
1 1915-01-01  56.55
2 1915-02-01  56.00
3 1915-03-01  58.30
4 1915-04-01  66.45

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    649 non-null    datetime64[ns]
 1   Price   649 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 10.3 KB

In [13]:
data["date_year"]=data["Date"].dt.year

In [15]:
data["month_no"]=data["Date"].dt.month

In [21]:
data["month_name"]=data["Date"].dt.month_name()

In [25]:
data["day_no"]=data["Date"].dt.day

In [27]:
data["day_name"]=data["Date"].dt.day_name()

In [29]:
data

          Date   Price  date_year  month_no month_name  day_no  day_name
0   1914-12-01   55.00       1914        12   December       1   Tuesday
1   1915-01-01   56.55       1915         1    January       1    Friday
2   1915-02-01   56.00       1915         2   February       1    Monday
3   1915-03-01   58.30       1915         3      March       1    Monday
4   1915-04-01   66.45       1915         4      April       1  Thursday
..         ...     ...        ...       ...        ...     ...       ...
644 1968-08-01  883.72       1968         8     August       1  Thursday
645 1968-09-01  922.80       1968         9  September       1    Sunday
646 1968-10-01  955.47       1968        10    October       1   Tuesday
647 1968-11-01  964.12       1968        11   November       1    Friday
648 1968-12-01  965.39       1968        12   December       1    Sunday

[649 rows x 7 columns]