# topic_name =columns transformations

In [3]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.impute import SimpleImputer

In [5]:
data=pd.read_csv(r"C:\Users\mdfir\Downloads\covid_toy.csv")

In [7]:
data.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [99]:
data["city"].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [9]:
from sklearn .model_selection import train_test_split

In [115]:
x=data[["age","gender","fever","cough","city"]]
y=data["has_covid"]

In [117]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=12)

# simpleimputer use in fever couluns

In [120]:
s=SimpleImputer()

In [122]:
x_train_sim=s.fit_transform(x_train[["fever"]])

In [124]:
x_test_sim=s.transform(x_test[["fever"]])

In [126]:
x_train_sim.shape

(80, 1)

# ordinal encoder use in cough

In [129]:
o=OrdinalEncoder(categories=[["Mild","Strong"]])

In [131]:
x_train_o=o.fit_transform(x_train[["cough"]])

In [133]:
x_test_o=o.fit(x_test[["cough"]])

In [135]:
x_train_o.shape

(80, 1)

# OneHotEncoder

In [138]:
hot=OneHotEncoder(drop="first",sparse_output=False,dtype=np.int32)

In [140]:
x_train_hot=hot.fit_transform(x_train[["gender","city"]])

In [142]:
x_test_hot=hot.transform(x_test[["gender","city"]])

In [144]:
x_train_hot.shape

(80, 4)

# drop columns and add the all columns

In [147]:
x_train_age=x_train.drop(columns=["gender","fever","cough","city"]).values
x_test_age=x_test.drop(columns=["gender","fever","cough","city"]).values

In [149]:
x_train_age.shape

(80, 1)

# add all columns (np.concatenate)

In [152]:
data_new_x_train=np.concatenate((x_train_sim,x_train_o,x_train_hot,x_train_age),axis=1)

In [154]:
data_new_x_train.shape

(80, 7)

In [160]:
x_train_scale=pd.DataFrame(data_new_x_train)

In [170]:
x_train.head()

    age  gender  fever   cough       city
83   17  Female  104.0    Mild    Kolkata
55   81  Female  101.0    Mild     Mumbai
26   19  Female  100.0    Mild    Kolkata
54   60  Female   99.0    Mild     Mumbai
19   42  Female    NaN  Strong  Bangalore

# columns transformations

In [166]:
from sklearn.compose import ColumnTransformer

In [180]:
t=ColumnTransformer(transformers=[
  ("first",SimpleImputer(),["fever"]),
  ("second",OrdinalEncoder(categories=[["Mild","Strong"]]),["cough"]),
  ("third",OneHotEncoder(sparse_output=False,drop='first'),["city","gender"])],remainder='passthrough')

In [185]:
t.fit_transform(x_train).shape

(80, 7)